<app-block-header
    pageTitle="{{pageTitle}}"
    [breadcrumb]="[
        {label: 'Home', url: ''},
        {label: 'About Us', url: ''}
    ]"
></app-block-header>
<div class="card">
    <div class="container container--max--xl">
        <div class="block-teammates__list ng-star-inserted">
            <div class="owl-carousel owl-theme owl-loaded owl-responsive owl-drag">
                <div class="owl-stage-outer ng-star-inserted">
                    <div class="ng-tns-c87-29">
                        <div *ngIf="pageDescription" class="owl-stage ng-tns-c87-29 aboutPageContent" style="" [innerHTML]="pageDescription"></div>
                        <div *ngIf="!pageDescription" class="owl-stage ng-tns-c87-29 aboutPageContentEmpty">No Data Available</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-block-space layout="before-footer"></app-block-space>
