.aboutPageContent {
    width: 1130px;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0s ease 0s;
}

.aboutPageContentEmpty {
    width: 1130px;
    text-align: center;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0s ease 0s;
}