<app-block-header
    pageTitle="Ask Price"
    [breadcrumb]="[
        {label: 'Home', url: '/'},
        {label: 'Ask Price', url: ''}
    ]"
></app-block-header>
<div class="block">
    <div class="container">
        <div class="card contacts">
            <div class="card-body card-body--padding--2">
                <div class="row">
					<div class="col-md-2 col-12">
						<label>Customer code</label>
						<input type="text" name="search" class="form-control" placeholder="Customer" style="border-radius: .22rem; border: 1px solid #BABFC7;" />
					</div>
					<div class="col-md-2 col-12">
						<label>Start Date</label>
						<input type="text" class="form-control" #dp="bsDatepicker" placeholder="Start Date"
						[bsConfig]="bsConfig" bsDatepicker>
					</div>
					<div class="col-md-2 col-12">
						<label>End Date</label>
						<input type="text" class="form-control" #dp="bsDatepicker" placeholder="End Date"
						[bsConfig]="bsConfig" bsDatepicker>
					</div>
					<div class="col-md-6">
						<button class="btn btn-primary mt-4 mr-4">Search</button>
						<button class="btn btn-primary mt-4 mr-4">Today's Ask Price</button>
						<button class="btn btn-primary mt-4">All Ask Price</button>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block mt-3">
    <div class="container">
        <div class="card contacts">
            <div class="card-body card-body--padding--2">
                <div class="row mt-1">
					<div class="col-12 col-sm-12 col-md-6">
						<h5 class="searchbar">Show:<select class="select-box" (change)="setLimit($event)" [value]="selectEntry" style="padding: 4px; margin: 0px auto; margin-left: 8px; width: 100px; border-radius: .22rem; border: 1px solid #BABFC7;">
							<option value="all">All</option>
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select> entries</h5>
					</div>
					<div class="col-12 col-sm-12 col-md-6">
						<div class="dataTables_filter float-right">
							<h5 class="searchbar">Search:
								<input type="text" placeholder="Search" (keyup)='updateFilter($event)' style="padding: 4px; margin: 0px auto; margin-left: 8px; width: 200px; border-radius: .22rem; border: 1px solid #BABFC7;">
							</h5>
						</div>
					</div>
				</div>

				<div class="table table-striped table-bordered base-style">	
					<ngx-datatable #table class="bootstrap ps" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="tableLimit" fxFlex="auto" [perfectScrollbar]="config" [scrollbarH]="true">

						<ngx-datatable-column name="Date" [flexGrow]="1" [minWidth]="110">
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.date}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Cust Code" [flexGrow]="1" [minWidth]="150">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.custCode}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Customer Name" [flexGrow]="1" [minWidth]="150">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.customerName}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Part Number" [flexGrow]="1" [minWidth]="150">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.partNumber}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Price" [flexGrow]="1" [minWidth]="150">
							<ng-template ngx-datatable-cell-template let-row="row">
								<input type="text" name="search" class="form-control" placeholder="Search Price">
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Action" [flexGrow]="1" [minWidth]="150">
							<ng-template ngx-datatable-cell-template let-row="row">
								<i class="fa fa-trash text-danger" aria-hidden="true"></i>
							</ng-template>
						</ngx-datatable-column>

					</ngx-datatable>
				</div>
            </div>
        </div>
    </div>
</div>
<app-block-space layout="before-footer"></app-block-space>