<app-block-header
    pageTitle="Customer Stats"
></app-block-header>
<!-- <app-block-header -->
    <!-- pageTitle="Locations" -->
    <!-- [breadcrumb]="[ -->
        <!-- {label: 'Home', url: ''}, -->
        <!-- {label: 'Breadcrumb', url: ''}, -->
        <!-- {label: 'Current Page', url: ''} -->
    <!-- ]" -->
<!-- ></app-block-header> -->
<div class="block">
    <div class="container">
        <div class="card contacts">
            <div class="card-body card-body--padding--2">
                <div class="row" style="background-color:#333; color:white;">
					<div class="col-md-12 pl-3 p-1">Total Customers Online : 0, Total Searches: 0, Total Chats : 0
						<span class="float-right pr-2"></span>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-12"><span>Online Customers </span><hr/></div>
				</div>
				<div class="row">	
					<div class="col-12 col-sm-12 col-md-6">
						<h5 class="searchbar">Show:<select class="select-box" (change)="onlineSetLimit($event)" [value]="onlineSelectEntry" style="padding: 4px; margin: 0px auto; margin-left: 8px; width: 100px; border-radius: .22rem; border: 1px solid #BABFC7;">
							<option value="all">All</option>
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select> entries</h5>
					</div>
					<div class="col-12 col-sm-12 col-md-6">
						<div class="dataTables_filter float-right">
							<h5 class="searchbar">Search:
								<input type="text" placeholder="Search" (keyup)='onlineFilter($event)' style="padding: 4px; margin: 0px auto; margin-left: 8px; width: 200px; border-radius: .22rem; border: 1px solid #BABFC7;">
							</h5>
						</div>
					</div>
				</div>

				<div class="table table-striped table-bordered base-style">	
					<ngx-datatable #table class="bootstrap ps" [rows]="onlineRows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="onlineTableLimit" fxFlex="auto" [perfectScrollbar]="config">

						<ngx-datatable-column name="Seq" [flexGrow]="1" [minWidth]="60" [maxWidth]="80">
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.seq}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="CustCode" [flexGrow]="1" [minWidth]="150">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.custCode}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Customer Name" [flexGrow]="1" [minWidth]="150">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.customerName}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="SalesCode" [flexGrow]="1" [minWidth]="150">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.salesCode}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="SalesPerson Name" [flexGrow]="1" [minWidth]="150">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.salesPersonName}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Today Search" [flexGrow]="1" [minWidth]="100">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.todaySearch}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Today Chat" [flexGrow]="1" [minWidth]="100">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.todayChat}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Login Time" [flexGrow]="1" [minWidth]="100">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.loginTime}}
							</ng-template>
						</ngx-datatable-column>

					</ngx-datatable>
				</div>
            </div>
        </div>
    </div>
</div>

<div class="block mt-3">
    <div class="container">
        <div class="card contacts">
            <div class="card-body card-body--padding--2">
                <div class="row mt-1">
					<div class="col-md-12"><span>Offline Customers </span><hr/></div>
				</div>
				<div class="row">	
					<div class="col-12 col-sm-12 col-md-6">
						<h5 class="searchbar">Show:<select class="select-box" (change)="oflinesetLimit($event)" [value]="oflineselectEntry" style="padding: 4px; margin: 0px auto; margin-left: 8px; width: 100px; border-radius: .22rem; border: 1px solid #BABFC7;">
							<option value="all">All</option>
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select> entries</h5>
					</div>
					<div class="col-12 col-sm-12 col-md-6">
						<div class="dataTables_filter float-right">
							<h5 class="searchbar">Search:
								<input type="text" placeholder="Search" (keyup)='offlineFilter($event)' style="padding: 4px; margin: 0px auto; margin-left: 8px; width: 200px; border-radius: .22rem; border: 1px solid #BABFC7;">
							</h5>
						</div>
					</div>
				</div>

				<div class="table table-striped table-bordered base-style">	
					<ngx-datatable #table class="bootstrap ps" [rows]="oflinerows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="oflinetableLimit" fxFlex="auto" [perfectScrollbar]="config">

						<ngx-datatable-column name="Seq" [flexGrow]="1" [minWidth]="60" [maxWidth]="80">
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.seq}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="CustCode" [flexGrow]="1" [minWidth]="150">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.custCode}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Customer Name" [flexGrow]="1" [minWidth]="150">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.customerName}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="SalesCode" [flexGrow]="1" [minWidth]="150">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.salesCode}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="SalesPerson Name" [flexGrow]="1" [minWidth]="150">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.salesPersonName}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Today Search" [flexGrow]="1" [minWidth]="100">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.todaySearch}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Today Chat" [flexGrow]="1" [minWidth]="100">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.todayChat}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Login Time" [flexGrow]="1" [minWidth]="100">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.loginTime}}
							</ng-template>
						</ngx-datatable-column>

					</ngx-datatable>
				</div>
            </div>
        </div>
    </div>
</div>
<app-block-space layout="before-footer"></app-block-space>