label {
    font-size: 16px;
}

.applyTitleLabel {
    font-size: 18px;
    font-weight: bold;
}

.applyTitleLabelValue {
    font-size: 16px;
    line-height: 25px;
}

.hrDivider {
    border-top: 2px solid #00549a;
    background: transparent;
}