<app-block-header
    pageTitle="Order History"
    [breadcrumb]="[
        {label: 'Home', url: '/'},
        {label: 'Order History', url: ''}
    ]"
></app-block-header>
<div class="block">
    <div class="container">
        <div class="card contacts">
            <div class="card-body card-body--padding--2">
                <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
					<div class="row">
						<div class="col-md-3 col-12">
							<label>Start Date</label>
							<input type="text" class="form-control" #dp="bsDatepicker" formControlName="startDate" placeholder="Start Date" [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }" [bsConfig]="bsConfig" bsDatepicker>
							<small class="form-text text-muted" *ngIf="submitted && f.startDate.errors" >
								<div class="text-danger" *ngIf="f.startDate.errors.required">Start Date is required</div>
							</small>
						</div>
						<div class="col-md-3 col-12">
							<label>End Date</label>
							<input type="text" class="form-control" 
							#dp="bsDatepicker" formControlName="endDate" 
							placeholder="End Date" [bsConfig]="bsConfig" bsDatepicker [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }">
							<small class="form-text text-muted" *ngIf="submitted && f.endDate.errors" >
								<div class="text-danger" *ngIf="f.endDate.errors.required">End Date is required</div>
							</small>
						</div>
						<div class="col-md-3 col-12">
							<label>PO# or Drop Ship Address</label>
							<input class="form-control" formControlName="address" placeholder="PO or Address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
							<small class="form-text text-muted" *ngIf="submitted && f.address.errors" >
								<div class="text-danger" *ngIf="f.address.errors.required">Address is required</div>
							</small>
						</div>
						<div class="col-md-3">
							<button type="submit" class="btn btn-primary mt-4 mr-4">Search</button>
							<button type="button" class="btn btn-primary mt-4" (click)="todayOrders()">Today's Order</button>
						</div>
					</div>
				</form>
            </div>
        </div>
    </div>
</div>

<div class="block mt-3">
    <div class="container">
        <div class="card contacts">
            <div class="card-body card-body--padding--2">
                <div class="row mt-1">
					<div class="col-12 col-sm-12 col-md-6">
						<h5 class="searchbar">Show:<select class="select-box" (change)="setLimit($event)" [value]="selectEntry" style="padding: 4px; margin: 0px auto; margin-left: 8px; width: 100px; border-radius: .22rem; border: 1px solid #BABFC7;">
							<option value="all">All</option>
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select> entries</h5>
					</div>
					<div class="col-12 col-sm-12 col-md-6">
						<div class="dataTables_filter float-right">
							<h5 class="searchbar">Search:
								<input type="text" placeholder="Search" (keyup)='updateFilter($event)' style="padding: 4px; margin: 0px auto; margin-left: 8px; width: 200px; border-radius: .22rem; border: 1px solid #BABFC7;">
							</h5>
						</div>
					</div>
				</div>

				<div class="table table-striped table-bordered base-style">	
					<ngx-datatable #table class="bootstrap ps" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="tableLimit" fxFlex="auto" [perfectScrollbar]="config" [scrollbarH]="true">

						<ngx-datatable-column name="Order Id" [flexGrow]="1" [minWidth]="90" [maxWidth]="130">
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.orderId}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Order Total" [flexGrow]="1" [minWidth]="200">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.orderTotal}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Date" [flexGrow]="1" [minWidth]="100">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.date}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="PO# & Notes" [flexGrow]="1" [minWidth]="200">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.notes}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Drop Ship Address" [flexGrow]="1" [minWidth]="100">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.dropShipAddress}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Status" [flexGrow]="1" [minWidth]="100">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.status}}
							</ng-template>
						</ngx-datatable-column>

					</ngx-datatable>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button class="btn btn-primary float-right" (click)="backToCart()">Retrun to Cart</button>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>