<app-block-header
    pageTitle="Reset Password"
    [breadcrumb]="[
        {label: 'Home', url: '/'},
        {label: 'Reset Password', url: ''}
    ]"
></app-block-header>
<div class="block">
    <div class="container container--max--lg">
        <div class="card contacts">
            <div class="card-body card-body--padding--2">
                <div class="row">
					<div class="col-12 col-lg-7 col-xl-6" [formGroup]="form">
						<div class="form-group">
							<label for="password-current">{{ 'INPUT_PASSWORD_CURRENT_LABEL'|translate }} <span class="text-danger">*</span></label>
							<input
								type="password"
								id="password-current"
								formControlName="currentPassword"
								class="form-control"
								[ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }"
								[placeholder]="'INPUT_PASSWORD_CURRENT_PLACEHOLDER'|translate"
							>
							<div class="is-invalid" *ngIf="submitted && f.currentPassword.errors">
								<div class="text-danger" *ngIf="f.currentPassword.errors.required">
									{{ 'ERROR_FORM_REQUIRED'|translate }}
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="password-new">{{ 'INPUT_PASSWORD_NEW_LABEL'|translate }} <span class="text-danger">*</span></label>
							<input
								type="password"
								id="password-new"
								formControlName="newPassword"
								class="form-control"
								[ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"
								[placeholder]="'INPUT_PASSWORD_NEW_PLACEHOLDER'|translate"
							>
							<div class="is-invalid" *ngIf="submitted && f.newPassword.errors">
								<div class="text-danger" *ngIf="f.newPassword.errors.required">
									{{ 'ERROR_FORM_REQUIRED'|translate }}
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="password-confirm">{{ 'INPUT_PASSWORD_REPEAT_LABEL'|translate }} <span class="text-danger">*</span></label>
							<input
								type="password"
								id="password-confirm"
								formControlName="confirmPassword"
								class="form-control"
								[ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
								[placeholder]="'INPUT_PASSWORD_REPEAT_PLACEHOLDER'|translate"
							>
							<div class="is-invalid" *ngIf="submitted && f.confirmPassword.errors">
								<div class="text-danger" *ngIf="f.confirmPassword.errors.required">
									{{ 'ERROR_FORM_REQUIRED'|translate }}
								</div>
								<div class="text-danger" *ngIf="f.confirmPassword.errors.mustMatch">
									{{ 'ERROR_FORM_PASSWORD_DOES_NOT_MATCH'|translate }}
								</div>
							</div>
						</div>

						<div class="form-group mb-0">
							<button
								class="btn btn-primary mt-3"
								(click)="save()"
							>{{ 'BUTTON_CHANGE'|translate }}</button>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-block-space layout="before-footer"></app-block-space>