<!--<app-block-header
    pageTitle="Careers"
    [breadcrumb]="[
        {label: 'Home', url: ''},
        {label: 'Breadcrumb', url: ''},
        {label: 'Current Page', url: ''}
    ]" [afterHeader]="false"
></app-block-header>-->

<div class="card">
	<div class="card-header">
		<!-- <h5>{{ 'HEADER_ORDER_HISTORY'|translate }}</h5> -->
	</div>
	<ng-container *ngIf="list">
		<div class="card-table">
			<div class="table-responsive-sm">
				<table class="text-center">
					<thead>
					<tr>
						<th>Location</th>
						<th>Position</th>
						<th>Apply</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let order of list">
						<td>{{ order.location }}</td>
						<td>{{ order.position }}</td>
						<td><button class="btn btn-primary">Apply</button></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="card-divider"></div>
		<div class="card-footer">
		<!-- <app-pagination [formControl]="currentPage" [siblings]="2" [total]="list.pages"></app-pagination> -->
		</div>
	</ng-container>
</div>

<app-block-space layout="before-footer"></app-block-space>
