<form *ngIf="!(isAuth$|async)" class="account-menu__form">
    <ng-container [formGroup]="form">
        <div class="account-menu__form-title">
            {{ 'HEADER_LOGIN_TO_YOUR_ACCOUNT'|translate }}
        </div>
        <div *ngIf="form|hasError:'server'" class="alert alert-xs alert-danger mt-n2">
            {{ form.errors.server|translate }}
        </div>
        <div class="form-group">
            <label for="header-signin-email" class="sr-only">{{ 'INPUT_EMAIL_ADDRESS_LABEL'|translate }}</label>
            <input
                id="header-signin-email"
                type="email"
                class="form-control form-control-sm"
                placeholder="customer@example.com"
                formControlName="email"
                [class.is-invalid]="form.controls.email|isInvalid"
            >
            <div class="invalid-feedback">
                <div *ngIf="form.controls.email|hasError:'required'">
                    {{ 'ERROR_FORM_REQUIRED'|translate }}
                </div>
                <div *ngIf="form.controls.email|hasError:'email'">
                    {{ 'ERROR_FORM_INCORRECT_EMAIL'|translate }}
                </div>
            </div>
        </div>
        <div class="form-group">

            <label for="header-signin-password" class="sr-only">{{ 'INPUT_PASSWORD_LABEL'|translate }}</label>
            <div class="account-menu__form-forgot" [class.is-invalid]="form.controls.password|isInvalid">
                <input
                    id="header-signin-password"
                    type="password"
                    class="form-control form-control-sm"
                    formControlName="password"
                    [placeholder]="'INPUT_PASSWORD_PLACEHOLDER'|translate"
                    [class.is-invalid]="form.controls.password|isInvalid"
                >
                <a routerLink="/" class="account-menu__form-forgot-link">{{ 'LINK_FORGOT'|translate }}</a>
            </div>
            <div class="invalid-feedback">
                <div *ngIf="form.controls.password|hasError:'required'">
                    {{ 'ERROR_FORM_REQUIRED'|translate }}
                </div>
            </div>
        </div>

        <div class="form-group account-menu__form-button">
            <button
                type="submit"
                class="btn btn-primary btn-sm"
                [class.btn-loading]="loginInProgress"
                (click)="login()"
            >{{ 'BUTTON_LOGIN'|translate }}</button>
        </div>
        <div class="account-menu__form-link">
            <a routerLink="/account/login" (click)="closeMenu.emit()">{{ 'LINK_CREATE_ACCOUNT'|translate }}</a>
        </div>
    </ng-container>
</form>
<ng-container *ngIf="isAuth$|async">
    <a routerLink="/account/dashboard" class="account-menu__user" (click)="closeMenu.emit()">
        <div class="account-menu__user-avatar">
			<!-- <img [src]="apiFileUrl +'/'+ avatar$|async" alt=""> -->
            <img src="\assets\images\avatars\avatar.png" alt="">
        </div>
        <div class="account-menu__user-info">
            <div class="account-menu__user-name">{{ fullName$|async }}</div>
            <div class="account-menu__user-email">{{ email$|async }}</div>
        </div>
    </a>
    <div class="account-menu__divider"></div>
    <ul class="account-menu__links">
        <li><a routerLink="/search-inventory/" (click)="closeMenu.emit()">Search Inventory</a></li>
        <li><a routerLink="/cart/" (click)="closeMenu.emit()">Cart</a></li>
        <li><a routerLink="/order-history/" (click)="closeMenu.emit()">Order History</a></li>
        <li *ngIf="role$ == 5"><a routerLink="/quote-history/" (click)="closeMenu.emit()">Quote History</a></li>
        <li *ngIf="role$ == 1"><a href="{{backEndUrl}}dashboard/sales?token={{token$}}" (click)="closeMenu.emit()" target="_blank">Admin Portal</a></li>
		<li *ngIf="role$ == 4"><a href="{{backEndUrl}}dashboard/sales?token={{token$}}" (click)="closeMenu.emit()" target="_blank">Sales Portal</a></li>
		<li *ngIf="role$ == 3"><a href="{{backEndUrl}}dashboard/sales?token={{token$}}" (click)="closeMenu.emit()" target="_blank">Manager Portal</a></li>
		<li *ngIf="role$ == 5"><a routerLink="/purchased-price-history/" (click)="closeMenu.emit()">Purchased Price History</a></li>
        <li *ngIf="role$ == 5"><a routerLink="/ask-price-pending/" (click)="closeMenu.emit()">Ask Price Pending</a></li>
        <li *ngIf="role$ == 5"><a routerLink="/recent-searches/" (click)="closeMenu.emit()">Recent Searches</a></li>
        <li *ngIf="role$ == 5"><a routerLink="/customer-chat-history/" (click)="closeMenu.emit()">Chat History</a></li>
        <li *ngIf="role$ == 5"><a routerLink="/customer-chat-history/" (click)="closeMenu.emit()">Specials</a></li>
        <!-- <li><a routerLink="#" (click)="closeMenu.emit()">Specials</a></li> -->
        <li><a routerLink="/reset-password/" (click)="closeMenu.emit()">Change Password</a></li>
        <li><a routerLink="/search-inventory/" (click)="closeMenu.emit()">Sound Alert</a></li>
		<li *ngIf="role$ == 5"><a routerLink="#" (click)="closeMenu.emit()">Help</a></li>
    </ul>
    <div class="account-menu__divider"></div>
    <ul class="account-menu__links">
        <li><button type="button" (click)="logout();">{{ 'LINK_ACCOUNT_LOGOUT'|translate }}</button></li>
		<li><a routerLink="#" (click)="logout();">Logout Everywhere</a></li>
		<li *ngIf="role$ == 1"><a routerLink="#" (click)="logout();">Logout All</a></li>
    </ul>
</ng-container>