<app-block-header
    pageTitle="Search History"
    [breadcrumb]="[
        {label: 'Home', url: ''},
        {label: 'Search History', url: ''}
    ]"
></app-block-header>
<div class="block">
    <div class="container">
        <div class="card contacts">
            <div class="card-body card-body--padding--2">
                <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
					<div class="row">
						<div class="col-md-3 col-12">
							<label>Customer Name</label>
							<select class="form-control" formControlName="customer" [ngClass]="{ 'is-invalid': submitted && f.customer.errors }">
								<option value="" disabled selected="selected">Select Customer Code</option>
								<option value="LN99">LN99 Eugene Auto</option>
								<option value="eugene">eugene Eugene's Repair Shop</option>
								<option value="L37003">L37003 LIVINGSTON COLLISION  INC</option>
								<option value="SDSHIPPING">SDSHIPPING Mayra Mota</option>
							</select>
							<small class="form-text text-muted" *ngIf="submitted && f.customer.errors" >
								<div class="text-danger" *ngIf="f.customer.errors.required">Customer is required</div>
							</small>
						</div>
						<div class="col-md-3 col-12">
							<label>Start Date</label>
							<input type="text" class="form-control" #dp="bsDatepicker" formControlName="StartDate" placeholder="Start Date" [ngClass]="{ 'is-invalid': submitted && f.StartDate.errors }" [bsConfig]="bsConfig" bsDatepicker>
							<small class="form-text text-muted" *ngIf="submitted && f.StartDate.errors" >
								<div class="text-danger" *ngIf="f.StartDate.errors.required">Start Date is required</div>
							</small>
						</div>
						<div class="col-md-3 col-12">
							<label>End Date</label>
							<input type="text" class="form-control" 
							#dp="bsDatepicker" formControlName="EndDate" 
							placeholder="End Date" [bsConfig]="bsConfig" bsDatepicker [ngClass]="{ 'is-invalid': submitted && f.EndDate.errors }">
							<small class="form-text text-muted" *ngIf="submitted && f.EndDate.errors" >
								<div class="text-danger" *ngIf="f.EndDate.errors.required">End Date is required</div>
							</small>
						</div>
						<div class="col-md-3">
							<button type="submit" class="btn btn-primary mt-4 mr-4">Search</button>
							<button type="button" class="btn btn-primary mt-4" (click)="exportData()">Export</button>
						</div>
					</div>
				</form>
            </div>
        </div>
    </div>
</div>

<div class="block mt-3">
    <div class="container">
        <div class="card contacts">
            <div class="card-body card-body--padding--2">
                <div class="row mt-1">
					<div class="col-12 col-sm-12 col-md-6">
						<h5 class="searchbar">Show:<select class="select-box" (change)="setLimit($event)" [value]="selectEntry" style="padding: 4px; margin: 0px auto; margin-left: 8px; width: 100px; border-radius: .22rem; border: 1px solid #BABFC7;">
							<option value="all">All</option>
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select> entries</h5>
					</div>
					<div class="col-12 col-sm-12 col-md-6">
						<div class="dataTables_filter float-right">
							<h5 class="searchbar">Search:
								<input type="text" placeholder="Search" (keyup)='updateFilter($event)' style="padding: 4px; margin: 0px auto; margin-left: 8px; width: 200px; border-radius: .22rem; border: 1px solid #BABFC7;">
							</h5>
						</div>
					</div>
				</div>

				<div class="table table-striped table-bordered base-style">	
					<ngx-datatable #table class="bootstrap ps" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="tableLimit" fxFlex="auto" [perfectScrollbar]="config" [scrollbarH]="true">

						<ngx-datatable-column name="Part Number Search" [flexGrow]="1" [minWidth]="110" [maxWidth]="130">
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.partNumberSearch}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="NSI Part Number Match" [flexGrow]="1" [minWidth]="300">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.partNumberMatch}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Cust Code" [flexGrow]="1" [minWidth]="150">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.custCode}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Customer IP" [flexGrow]="1" [minWidth]="150">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.customerIP}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Date" [flexGrow]="1" [minWidth]="100">
							<ng-template ngx-datatable-cell-template let-row="row">
								{{row.date}}
							</ng-template>
						</ngx-datatable-column>

					</ngx-datatable>
				</div>
            </div>
        </div>
    </div>
</div>
<app-block-space layout="before-footer"></app-block-space>