<!-- <app-block-header -->
    <!-- [pageTitle]="pageTitle$|async" -->
    <!-- [breadcrumb]="breadcrumbs$|async" -->
<!-- ></app-block-header> -->

<!-- <div class="block-split"> -->
    <!-- <div class="container"> -->
        <!-- <div class="block-split__row row no-gutters"> -->
            <!-- <div class="block-split__item block-split__item-content col-auto"> -->
                <!-- <div class="block"> -->
					
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
<app-block-header
    pageTitle="Careers"
    [breadcrumb]="[
        {label: 'Home', url: ''},
        {label: 'Careers', url: ''}
    ]"
></app-block-header>
	<div class="card">
		<div class="card-header">
			<!-- <h5>{{ 'HEADER_ORDER_HISTORY'|translate }}</h5> -->
		</div>
		<ng-container *ngIf="list" > <!-- *ngIf="list" -->
			<div class="card-table">
				<div class="table-responsive-sm">
					<table class="text-center">
						<thead>
						<tr>
							<th>Location</th>
							<th>Position</th>
							<th>Apply</th>
						</tr>
						</thead>
						<tbody>
							<tr *ngFor="let career of list">
								<td>{{ career.location }}</td>
								<td>{{ career.position }}</td>
								<td><a class="btn btn-primary" routerLink="/about/careers/careers-apply/{{ career.id }}">Apply</a></td>
							</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="card-divider"></div>
		<div class="card-footer">
		<!-- <app-pagination [formControl]="currentPage" [siblings]="2" [total]="list.pages"></app-pagination> -->
		</div>
	</ng-container>
</div>

<!-- </div> -->

<app-block-space layout="before-footer"></app-block-space>
